.board {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: solid #273547e7 1px;
  .main-start {
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 0.5rem 1.5rem;
    background-color: #0065d8;
    border: none;
    border-radius: 2rem;
    box-shadow: #00000056 0 0 10px;
    &:hover {
      background-color: #268bff;
    }
    &:active {
      background-color: #4a9fff;
    }
  }
}
#board1::before,
#board2::before {
  transition: 1000ms;

  display: block;
  content: "";
  font-size: 0.9rem;
  text-align: center;
  line-height: 27.5;
  color: #0065d8;
  text-shadow: rgb(255, 255, 255) 0px 0 5px;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  backdrop-filter: blur(1px);
  z-index: 7;
}
#board1.current-turn::before,
#board2.current-turn::before {
  display: none;
}
.row-p1,
.row-p2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.cell-p1,
.cell-p2,
.res {
  z-index: 0;
  position: relative;
  // transition: 200ms ease;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -1px;
    margin-left: -1px;
    border-top: solid #0065d83b 1px;
    border-left: solid #0065d83b 1px;
    z-index: 1;
  }
}
.cell-p1 {
  cursor: crosshair;
  &:hover {
    background-color: #8585851c;
  }
}
.fleet {
  position: relative;
  box-shadow: #0065d8 0 0 0 2px;
  z-index: auto;
  margin: 0;
  &::before {
    content: "";
    position: absolute;
    // margin-top: -1px;
    // margin-left: -1px;
    border-top: solid #0065d83b 1px;
    border-left: solid #0065d83b 1px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f5ff;
    border: none;
    box-shadow: none;
    z-index: 1;
  }
}
.miss {
  position: relative;
  margin-top: -1px;
  margin-left: -1px;
  border-top: solid #0065d83b 1px;
  border-left: solid #0065d83b 1px;
  &::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px;
    border-radius: 50%;
    background-color: #000000a9;
  }
  &:hover {
    cursor: default;
  }
  &:active {
    cursor: not-allowed;
  }
}
.hit {
  position: relative;
  z-index: auto;
  box-shadow: #0065d8 0 0 0 2px;

  &::before {
    content: "";
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f5ff;
    z-index: 3;
  }
  &::after {
    content: "✕";
    color: #004fa8;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  &:active {
    cursor: not-allowed;
  }
  &:hover {
    cursor: default;
  }
}
.sunk {
  position: relative;
  z-index: auto;
  // background-color: #b39898;
  border: none;
  cursor: default;
  &::before {
    content: "";
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6097d6;
    z-index: 4;
  }
  &::after {
    content: "✕";
    color: white;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
  }
  &:active {
    cursor: not-allowed;
  }
}
.main-reset,
.main-random {
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  background: #0065d8;
  border: none;
  border-radius: 1rem;
  &:hover {
    background-color: #1d75da;
  }
  &:active {
    background-color: #307ed8;
  }
}
