.how-to-play {
  display: none;
  transform: translateY(100vh);
  transition: 300ms ease-in-out;
  opacity: 0;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  background-color: #ffffff;
  align-items: center;
  z-index: 9;
  padding-bottom: 5rem;
  &.active {
    transform: none;
    opacity: 100%;
  }
  .how-to-play-container1 {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    .rules,
    .controls {
      display: flex;
      flex-direction: column;
      max-width: 25rem;
      min-width: 10rem;
      background-color: rgb(235, 235, 235);
      padding: 2rem;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.158) 0 5px 5px;
      h2 {
        margin-top: 0;
        align-self: center;
      }
      p {
        margin: 0.5rem;
      }
      li {
        margin-top: 0.5rem;
      }
      b {
        padding: 0 0.4rem;
        border-radius: 1rem;
        background-color: #0065d8;
        box-shadow: rgba(0, 0, 0, 0.158) 0 2px 2px;

        color: white;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .how-to-play {
    padding-bottom: 0;
  }
  .how-to-play-container1 {
    padding: none;
  }
}
