body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}
header {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  h2 {
    margin: 0 1rem;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
  }
  .menu {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;
    z-index: 5;
    span {
      color: 273547e7;
      cursor: pointer;
    }
  }
  .header-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .header-svg svg {
    position: relative;
    display: block;
    width: calc(217% + 1.3px);
    height: 235px;
  }

  .header-svg .shape-fill {
    fill: #273547e7;
  }
}
.content {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.container1,
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  h3 {
    color: #273547e7;
    cursor: default;
    margin: 0;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: transform 100ms ease-in-out;
    &:hover {
      transform: translateY(-3px);
    }
  }
}
.win-screen {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #0000001a;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(3px);
  h1 {
    font-weight: 600;
    text-shadow: rgba(0, 0, 0, 0.205) 0 5px 5px;
  }
  button {
    font-size: 2em;
    padding: 0.5em 1em;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.171) 0 5px 5px;
  }
}
