body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
  gap: 1rem;
  overflow: hidden;
}
header {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgba(0, 102, 255, 0.103) 100%
  );
  h2 {
    margin: 0 1rem;
    color: #182636;
    cursor: pointer;
    position: relative;
    z-index: 5;
    &::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 3px;
      bottom: 0px;
      border-radius: 20px;
      left: 1px;
      background: #182636;
      transform: scaleX(1);
      transform-origin: bottom right;
      transition: transform 300ms cubic-bezier(0.65, 0.01, 0.73, 0.33);
    }
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 3px;
      top: 10px;
      border-radius: 20px;
      left: 30px;
      background: #182636;
    }
    &:hover:after {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  }
  .menu {
    display: flex;
    gap: 1.5rem;
    margin: 0 1rem;
    z-index: 5;
    span {
      color: 273547e7;
      cursor: pointer;
    }
    .header-btn {
      color: #182636;
      text-decoration: none;
      padding: 0;
      font-size: 1em;
      background: none;
      border: none;
      transition: 200ms;
      text-decoration: underline 0.11em #00000000;
      display: inline-block;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #0000008c;
        transform-origin: bottom right;
        transition: transform 200ms ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      &:hover {
        color: #2e2e2e;
      }
    }
  }
}
.content {
  transform: translateY(-100vw);
  opacity: 0;
  transition: 300ms ease-in-out;
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  margin-top: 6rem;
  &.active {
    transform: none;
    opacity: 100%;
  }
}
.container1,
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  h3 {
    color: #273547e7;
    cursor: default;
    margin: 0;
  }
}
footer {
  z-index: 0;
  position: absolute;
  bottom: 0;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: transform 100ms ease-in-out;
    &:hover {
      transform: translateY(-3px);
    }
  }
}
